<!DOCTYPE html>
<html>
<head>
    <title>File Management</title>
</head>
<body>
    <h1>Upload New File</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h1>Existing Files</h1>
    <ul>
      {% for file in files %}
        <li>
           <a href="{{ file.public_url }}">{{ file.name }}</a>
           <a href="/delete/{{ file.name }}">Delete</a>
        </li>
      {% endfor %}

    </ul>
</body>
</html>
